@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 500;
    src: local('Whitney Medium'), font-url('whitneymedium.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 500;
    src: local('Whitney Medium Italic'), font-url('whitneymediumitalic.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 700;
    src: local('Whitney Bold'), font-url('whitneybold.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 600;
    src: local('Whitney Semibold Regular'), font-url('whitneysemibold.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 400;
    src: local('Whitney Book Regular'), font-url('whitneybook.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 300;
    src: local('Whitney Light Regular'), font-url('whitneylight.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 600;
    src: local('Whitney Semibold Italic'), font-url('WhitneySemiboldItalic.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 400;
    src: local('Whitney Book Italic'), font-url('whitneybookitalic.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 300;
    src: local('Whitney Light Italic'), font-url('whitneylightitalic.woff') format('woff');
}

// @font-face {
//     font-family: 'Whitney Medium';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Medium'), font-url('whitneymedium.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Medium Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Medium Italic'), font-url('whitneymediumitalic.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Bold'), font-url('whitneybold.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Semibold Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Semibold Regular'), font-url('whitneysemibold.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Book Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Book Regular'), font-url('whitneybook.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Light Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Light Regular'), font-url('whitneylight.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Semibold Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Semibold Italic'), font-url('WhitneySemiboldItalic.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Book Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Book Italic'), font-url('whitneybookitalic.woff') format('woff');
// }
    
    
// @font-face {
//     font-family: 'Whitney Light Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Whitney Light Italic'), font-url('whitneylightitalic.woff') format('woff');
// }